main {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 2px;
  text-align: center;
}

img {
  margin: 20px auto;
}